@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
}

html, body, #root{
  height: 100%;
}

body{
  font: 14px;
  background-color: #efefef;
}

a{
  text-decoration: none;
}

button:hover {
  background-color: #0B4970;
  color: #fff;
  transition: ease-in-out 0.2s;
}

ul{
  list-style: none;
}

button{
  cursor: pointer;
}
